{% extends "layout.html" %}
{% load static %}

{% block calendar_extras %}
<style>
  .hea:hover {
    background: lightgrey;
   }

</style>
{% endblock calendar_extras %}

{% block content %}
<div class="container my-3">
    <h2 class="border-left border-success pl-2"> Monthly Subscription</h2>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Current Stand Out</th>
                <th scope="col">#</th>
            </tr>
            </thead>
            <tbody>
            {% for invoice in provider_invoice %}
            <tr>
                <th scope="row">{{ invoice.pk }}</th>
                <td>{{ invoice.title }}</td>
                <td>
                    {% if invoice.is_paid %}
                    Paid
                    {% else %}
                    Pending
                    {% endif %}
                </td>
                <td>{{ invoice.appointment_count.all|length }}</td>
                <td><a href="{% url 'pdf' invoice.pk %}"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
