{% extends "layout.html" %}
{% load static check_status check_role %}



{% block content %}
{% is_provider user_role=request.session.user_role as provider_checked %}
{% is_client user_role=request.session.user_role as client_checked %}
{% is_localite user_role=request.session.user_role as localite_checked %}
<div class="container">

    {% if localite_checked %}
    <h2>Status :- {{ appointment.get_status_display }}</h2>

    <h2>Accepted Meeting Schedule </h2>
    <p>Start :- {{ appointment.start_time }}</p>
    <p>End :- {{ appointment.end_time }}</p>
    <p>Notes :- {{ appointment.notes }}</p>

    <hr>
    <p>appointment From :- {{ appointment.requestor }}</p>
    <p>appointment To :- {{ appointment.requestee }}</p>
    <hr>
    <h2>created date :- {{ appointment.date_created }}</h2>
    <h3>Requested Time</h3>
    <h5>Request Schedule 1</h5>
    <p>Date :- {{ appointment.requested_date_1 }}</p>
    <p>Time Slot :- {{ appointment.requested_date_1_timeslots }}</p>

    <h5>Request Schedule 2</h5>
    <p>Date :- {{ appointment.requested_date_2 }}</p>
    <p>Time Slot :- {{ appointment.requested_date_2_timeslots }}</p>



    {% endif %}

</div>



{% endblock content %}
