{% extends "layout.html" %}
{% load invoice_tags %}

{% block content %}
<div class="container">
    <div>
        <h2>Invoice creaded by {{ invoice.payee }} for {{ invoice.title }} in the amount of {{ invoice.amount }}</h2>
        <!-- <button type="button" class="btn btn-primary" id="custom-button">Pay with Card</button> -->
    </div>

    <div class="row">
        <div class="col-md-6 text-center">
            <p><b>Customer : </b>{{ invoice.payor }}</p>
        </div>
        {% if invoice.booking %}
        <div class="col-md-6 text-center">
            <p><b>Localite : </b>{{ invoice.payee }}</p>
        </div>
        {% elif invoice.appointment %}
        <div class="col-md-6 text-center">
            <p><b>Provider : </b>{{ invoice.payee }}</p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-6 text-center">
            <p>
                <b>Status : </b>
                {% if invoice.is_paid %}
                Payment Done
                {% else %}
                Payment Not Done
                {% endif %}
            </p>
        </div>
        <div class="col-md-6 text-center">
            <p><b>Amount : </b>{{ invoice.amount|dollar }}</p>
        </div>
    </div>
    <div class="row">
        {% if invoice.booking %}
        {% for date in invoice.booking.booking.all %}
        <div class="card col-3 my-2 mx-2 text-center">
            <h5 class="card-header">{{ date.date }} - {{ invoice.booking.requestor.username }}</h5>
            <div class="card-body">
                <p class="card-text">start :- {{ date.start_time|time:'h:i a' }}</p>
                <p class="card-text">end :- {{ date.end_time|time:'h:i a' }}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
  <div>

  {% if invoice.appointment %}
  <div class="card col-3 my-2 mx-2">
    <h5 class="card-header">{{ invoice.appointment.requestor.username }}</h5>
    <div class="card-body">
      <p class="card-text"><b>Date :- </b>{{ invoice.appointment.request_date|date:'Y-M-d  D' }}</p>
      <p><b>Amount :- </b>{{ invoice.amount }}</p>
      <p>{{ invoice.appointment.get_payment_method_display }}</p>
    </div>
  </div>
    {% if invoice.is_paid == True %}
      <p><a href="{% url 'main:appointment_review_and_rating' invoice.appointment.id %}">Review & Rating</a> </p>
    {% endif %}
  {% endif %}
  </div>
  <br>

        {% if invoice.appointment %}
        <div class="card col-3 my-2 mx-2 text-center">
            <h5 class="card-header">{{ invoice.appointment.requestor.username }}</h5>
            <div class="card-body">
                <p class="card-text"><b>Date :- </b>{{ invoice.appointment.request_date|date:'Y-M-d D' }}</p>
                <p><b>Amount :- </b>{{ invoice.amount }}</p>
                <p>{{ invoice.appointment.get_payment_method_display }}</p>
            </div>
        </div>
        {% endif %}
    </div>
    <br>
    {% if request.user.id == invoice.payor.id and invoice.is_paid == False %}
    <button id="checkout-button">Stripe Payment</button>
    <h4>Pay with PayPal</h4>
    {{ form.render }}
    {% endif %}
</div>

{% endblock content %}

{% block bottom_js %}
<script type="text/javascript">
      var stripe = Stripe('{{ key }}');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        let data = new FormData();
        data.append('invoice_id', '{{ invoice.id }}');
        fetch('/create-checkout-session', {
          method: 'POST',
          body: data,
          headers:{
                "X-CSRFToken": '{{ csrf_token }}'
            },
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
</script>
{% endblock %}
