{% extends "layout.html" %}
{% load check_status %}
{% load check_role %}

{% block content %}
{% is_provider user_role=request.session.user_role as provider_checked %}
                    {% is_localite user_role=request.session.user_role as localite_checked %}
<div class="container">
    <h1 class="page_main_header my-3">Invoices</h1>
    {% if provider_checked  %}
    <div class="  col-md-6 col-lg-4"> <a class="button secondaryAction  mb-5" href="{% url 'provider_create_invoice' %}"><span>Create New Invoice</span></a> </div>
    {% endif %}
    {% if localite_checked  %}
    <div class="  col-md-6 col-lg-4"> <a class="button secondaryAction  mb-5" href="{% url 'create_invoice' %}"><span>Create New Invoice</span></a> </div>
    {% endif %}
{% if invoices %}
    <div uk-filter="target: .js-filter">
        <ul class="uk-subnav uk-subnav-pill">
            <li  uk-filter-control="[data-status='unpaid']"><a href="#">Unpaid</a></li>
            <li uk-filter-control="[data-status='paid']"><a href="#">Paid</a></li>
            <li class="uk-active" uk-filter-control><a href="#">All</a></li>
        </ul>
        <ul class="js-filter uk-child-width-1-1 uk-text-left" uk-grid>
            {% for invoice in invoices %}
                {% if invoice.is_paid == False %}
                    <li data-status="unpaid">
                        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
                            <div class="uk-card-badge uk-card uk-card-primary">Unpaid</div>
                            <h3 class="uk-card-title"><b>{{ invoice.title }}</b></h3>
                            <p><b>Amount : </b>{{ invoice.amount }}</p>
                            {% if invoice.appointment.payment_method|is_payment_other_options %}
                                <p><b>Payment Method : </b>{{ invoice.appointment.get_payment_method_display }}</p>
                            {% else %}
                                <a class="btn btn-light" href="{% url 'invoice' invoice.id %}">View</a>
                            {% endif %}
                        </div>
                        <br>
                    </li>
                {% else %}
                    <li data-status="paid">
                        <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">
                            <div class="uk-card-badge uk-card uk-card-primary">Paid</div>
                            <h3 class="uk-card-title">{{ invoice.title }}</h3>
                            <p>{{ invoice.amount }}</p>
                            <p>{{ invoice.date_paid }}</p>
                            {% if invoice.appointment.payment_method|is_payment_other_options %}
                                <p><b>Payment Method : </b>{{ invoice.appointment.get_payment_method_display }}</p>
                            {% else %}
                                <a class="btn btn-light" href="{% url 'invocie_pdf' invoice.id %}" target="_blank">Invoice </a>
                            {% endif %}

                        </div>
                        <br>
                    </li>
                {% endif %}
            {% empty %}
            <div class="uk-card uk-card-default uk-card-body uk-width-1-1@m">

                            <h3 class="uk-card-title">No Invoice Available !</h3>

                        </div>
                
            {% endfor %}
        </ul>
    </div>
{% else %}
<h3>No invoice Found . </h3>
{% endif  %}
</div>
{% endblock content %}