{% extends "layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">

            <h1>{{ page.title }}</h1>

            {% if page.introduction %}
            {{ page.introduction|richtext }}
            {% endif %}

        </div>


        <div>
            {% with related_posts=page.related_posts.all %}

                {% if related_posts %}
                <hr size="2">
                    {% for posts in related_posts %}


                        <h3>{{ posts.title }}</h3>
                        {% with posts.image as image %}
                            <center>{% if image %}{% image image fill-400x250 %}{% endif %}</center>
                        {% endwith %}
                        <p>{{ posts.body|richtext }}</p>
                        {% if posts.check_out %}
                            <b><h5>Check out</h5></b>
                            <p>{{ posts.check_out}}</p>
                        {% endif %}
                        {% if posts.walking_distance %}
                           <b> <h5>Walking Distance </h5></b>
                            <p>{{ posts.walking_distance}}</p>
                        {% endif %}
                    {% endfor %}

                {% endif%}
            {% endwith %}
        </div>


    </div>
</div>


<center><h2><a href="{{ page.get_parent.url }}">Back</a></h2></center>


{% endblock%}
