{% extends "layout.html" %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block content %}
{% if page.title %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if page.title  %}
            <h1>{{ page.title }}</h1>
            <h3>{{ page.introduction }}</h3>
            {% endif  %}
        </div>
    </div>
</div>
<div class=" ">
    {% for brucke in bruckepage %}
    {% with brucke=brucke.specific %}
    <div class="tr">
        <a href="{% pageurl brucke %}">
            {% with brucke.image as image %}
             {% if image %}{% image image fill-100x100 %}{% endif %}
            {% endwith %}


        </a>
        <a href="{% pageurl brucke %}">
            <h3 class="title">

                <span class="sub-title">{{ brucke.title }}</span>

            </h3>
        </a>
    </div>
    {% endwith %}
    {% endfor %}
</div>
{% else %}
<h1 class="center"> No Post Available  </h1>
{% endif %}


{% endblock%}