{% extends "layout.html" %}
{% load static check_status check_role %}

{% block calendar_extras %}

{% endblock calendar_extras %}

{% block content %}

{% is_localite user_role=request.session.user_role as localite_checked %}
{% is_client user_role=request.session.user_role as client_checked %}
<div class="container">
    <div class="row">
               <div class="col-12">
                <h1 class=" page_main_header">Booking Detail </h1>
                {% if localite_checked %}
                   <p>Contact With {{ booking.requestor.username}}&nbsp;&nbsp;<a href="{% url 'contact' booking.requestor.id %}"><i class="fa fa-comments-o fa-2x" aria-hidden="true">&nbsp</i>  </a></p>
                   {% else %}
                   <p>Contact With {{ booking.requestee.username}}&nbsp;&nbsp;<a href="{% url 'contact' booking.requestee.id %}"><i class="fa fa-comments-o fa-2x" aria-hidden="true">&nbsp</i>  </a></p>
                   {% endif  %}

    <h2>Status :- {{ booking.get_status_display }}</h2>


    <hr>
    <p>booking From :- {{ booking.requestor }}</p>
    <p>booking To :- {{ booking.requestee }}</p>
    <hr>

    <p>client comment :- {{ booking.customer_comment|default:'Not Given' }}</p>
    <p>localite comment :- {{ booking.localite_comment|default:'Not Given' }}</p>
    <hr>
    <h2>created date :- {{ booking.date_created }}</h2>
    {% for dates in booking.booking.all %}
    <p>Date :- {{ dates.date }}</p>
    <p>Time Slot :- {{ dates.start_time }}</p>
    {% endfor %}








</div>
</div>
</div>


{% endblock content %}
