{% extends "layout.html" %}
{% load static %}
{% load file_type %}
{% block link_css %}
<link rel="stylesheet" href="{% static 'custome_CSS/messages_inbox.css' %}">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/af.min.js"></script>-->
<style type="text/css">
    footer
{
    bottom: 0;
    left: 0;
    background: #000;
    padding: 20px 0 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-top: 4px solid #3dbb3d;  
}
p.turn-grey.small.footers_link {
    margin-top: 24px;
}

.footers_link a{        padding-bottom: 10px;}
</style>
{% endblock link_css %}
{% block content %}
<div class="container mt-5">
    <div class="row">

      <div class="col-12 col-md-4 col-lg-3">
           <h6 class="font-weight-bold mb-3 text-center text-lg-left font_z20">Chat</h6>
          <input type="text" id="mysearchInp" class="form-control" placeholder="Search by name"  />
            <div class="white z-depth-1  pb-0">
          <ul class="list-unstyled friend-list" id="myTable">
              {% for msg in unread_messages %}
            <li class=" p-1 unread_msg">
              <a href="{% url 'chatroom' msg.message.room.id %}" class="d-flex justify-content-between">
                    {% if  msg.chat_partner.profile_image %}
                  <img src="{{ msg.chat_partner.profile_image.url }}" style="width:100px;height:100px;"  alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% else %}
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"  style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% endif %}
                <div class="text-small">
                  <strong>{% if msg.chat_partner.is_staff %} Yr-Admin{% else %}{{ msg.chat_partner.username|truncatechars:7 }}{% endif %}</strong>
                  <p class="last-message text-muted">{{ msg.message.content|truncatechars:7|default:'file or image' }}</p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0">{{ msg.message.date_created |date:"SHORT_DATE_FORMAT"  }}</p>
                  <span class="badge badge-danger float-right"> {{ msg.message.room.created_for }} Chat</span>

                </div>
              </a>
            </li>
            {% endfor %}
              {% for msg in read_messages %}
            <li class=" p-1">
              <a href="{% url 'chatroom' msg.message.room.id %}" class="d-flex justify-content-between">
                    {% if  msg.chat_partner.profile_image %}
                     <img src="{{ msg.chat_partner.profile_image.url }}" style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% else %}
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"  style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% endif %}
                <div class="text-small">
                  <strong>{% if msg.chat_partner.is_staff %} Yr-Admin{% else %}{{ msg.chat_partner.username|truncatechars:7 }}{% endif %}</strong>
                  <p class="last-message text-muted">{{ msg.message.content|truncatechars:7|default:'file' }}</p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0">{{ msg.message.date_created|date:"SHORT_DATE_FORMAT"  }}</p>
                  <span class="badge badge-danger float-right"> {{ msg.message.room.created_for }} Chat</span>
                </div>
              </a>
            </li>
            {% endfor %}


          </ul>
        </div>
      </div>

    <div class="col-12 col-md-8 col-lg-9">
        ￼￼￼￼
        <div id="frame">
            <div class="content chat_room_width" >
                <div class="contact-profile">
                    <h1>You are Chatting With {{ chatpartner.username }}</h1>
                </div>
                <div class="messages" id="messgaes_div">
                    <ul id="chat-log">
                    {% if room_chat_mesg %}
                        {% for mesg in room_chat_mesg %}
                        {% if mesg.author.id == request.user.id  %}
                            <li class="sent">
                                {% if mesg.content %}
                                <p>{{mesg.content}}</p>
                                {% elif mesg.file %}
                                        {% if mesg.extension|is_img_type %}<a href="{{mesg.file.url}}">
                                        <img src="{{mesg.file.url}}" height="300px" width="300px"/></a>
                                        {% else %}
                                         <video controls>
                                                <source src="{{mesg.file.url}}" type="video/mp4"/>
                                         </video>
                                        {% endif %}
                                {% endif %}

                                <span class="msg_time">{{mesg.date_created}}</span>
                            </li>{% else %}
                            <li class="replies">
                                 {% if mesg.content %}
                                <p>{{mesg.content}}</p>
                                {% elif mesg.file %}
                                     {% if mesg.extension|is_img_type %}<a href="{{mesg.file.url}}">
                                        <img src="{{mesg.file.url}}" height="300px" width="300px"/></a>
                                        {% else %}
                                            <video controls>
                                                <source src="{{mesg.file.url}}" type="video/mp4"/>
                                            </video>
                                        {% endif %}
                                {% endif %}
                                <span class="msg_time">{{mesg.date_created}}</span>
                            </li>{% endif %}
                        {% endfor %}
                        {% endif %}
<!--                    <li class="sent">-->
    <!--                    <p>How the hell am I supposed to get a jury to believe you when I am not even sure that I do?!</p>-->
    <!--                    <span class="msg_time">10:00 PM</span>-->
<!--                    </li>-->

                

                    </ul>
                </div>
                <div class="message-input">
                    <div class="wrap">
                        <input type="text" id="chat-message-input" placeholder="Write your message..."/>
                        <label for="filename">
                        <i class="fa fa-paperclip attachment" aria-hidden="true"> </i>
                        </label>
                           <input type="file" id="filename" onchange="sendFile()" style=" display: none;"  accept=".png, .jpg, .mp4" />
                        <button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane"
                                                                           aria-hidden="true"></i></button>

                    </div>
<!--                    <input type="file" id="filename32"  accept="image/*" />-->
<!--                    <input type="button" value="Upload" onclick="sendFile()" />-->

                </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
$(document).ready(function(){

  $('#messgaes_div').animate({
        scrollTop: $('#messgaes_div').get(0).scrollHeight
    }, 1000);
        const roomId = {{ request.resolver_match.kwargs.room_id }};
           var a = 0;
         var roomUrl = "{% url 'chatroom_ajax' request.resolver_match.kwargs.room_id %}";



        var loc = window.location, new_uri;
        if (loc.protocol === "https:") {
            new_uri = "wss:";
        } else {
            new_uri = "ws:";
        }

        const chatSocket = new WebSocket(
             new_uri
            +'//'
            + window.location.host
            + '/ws/chat/'
            + roomId
            + '/'
        );


        chatSocket.onopen = function(e){
            //fetchApi();
        }

     chatSocket.onmessage = function(e) {
                const data = JSON.parse(e.data);
                console.log(data['command'])
              if(data['command'] === 'new_message') {

                    createMessages(data['message'])
                }else if (data['command'] === 'file_type_data') {
                            console.log(data['message'])
                            createFile(data['message'])

                    }
            };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value.trim();
             if (message === ''){
                window.location.reload()
            }
            chatSocket.send(JSON.stringify({
                'message': message,
                 'command':'new_message',
                'author':'{{ request.user.id }}',
                'reciepent': '{{ chatpartner.id }}',
            }));
            messageInputDom.value = '';
        };

        function get_url_extension( url ) {
                return url.split(/[#?]/)[0].split('.').pop().trim();
        }


        function convert(str) {
            var date = new Date(str),
                mnth = ("0" + (date.getMonth()+1)).slice(-2),
                day  = ("0" + date.getDate()).slice(-2);
                hours  = ("0" + date.getHours()).slice(-2);
                minutes = ("0" + date.getMinutes()).slice(-2);
            return [ date.getFullYear(), mnth, day, hours+':' +minutes ].join("/");
        };
     function createMessages(data){

            var author = data['author'];
            var msgListTag = document.createElement('li');
            var msgTimeTag = document.createElement('span');

            msgTimeTag.className = 'msg_time';
            var pTag = document.createElement('p');
            pTag.textContent = data.content ;
            var localdate = new Date(data.date_created+' UTC');
            msgTimeTag.textContent = convert(localdate);



            if (author == '{{ request.user.id }}' ){
                msgListTag.className = 'sent';
            }else{
                msgListTag.className = 'replies';
            }

            msgListTag.appendChild(pTag)
            msgListTag.appendChild(msgTimeTag)

            document.querySelector('#chat-log').appendChild(msgListTag);

                };

            function createFile(data){
                    var file_extension_list = ['.png', '.jpg']
                    var author = data['author'];
                    var imgType = file_extension_list.includes(data['file_extension']);

                    var msgListTag = document.createElement('li');

                    var msgTimeTag = document.createElement('span');

                    msgTimeTag.className = 'msg_time';
                    var localdate = new Date(data.date_created+' UTC');
                    msgTimeTag.textContent = convert(localdate);
                    if(imgType){
                           var imgTag = document.createElement("IMG");
                           var ahrefTag = document.createElement("a");
                           ahrefTag.setAttribute("href", data.location);
                           imgTag.setAttribute("src", data.location);
                           imgTag.setAttribute("width", "150");
                           imgTag.setAttribute("height", "150");
                           ahrefTag.appendChild(imgTag);
                           msgListTag.appendChild(ahrefTag)
                    }else{
                            var videoTag = document.createElement("video");
                            var  sourceTag = document.createElement("source");
                            sourceTag.setAttribute("src", data.location);
                             sourceTag.setAttribute("type", "video/mp4");
                             videoTag.setAttribute("controls", "");
                             videoTag.appendChild(sourceTag);
                             msgListTag.appendChild(videoTag)

                    }



                    if (author == '{{ request.user.id }}' ){
                        msgListTag.className = 'sent';
                    }else{
                        msgListTag.className = 'replies';
                    }


                    msgListTag.appendChild(msgTimeTag)

                    document.querySelector('#chat-log').appendChild(msgListTag);

                };


                    sendFile =    function () {

                        var file = document.getElementById('filename').files[0];
                         var fileSize = file.size / 1024 / 1024; // in MB

                                if (fileSize < 2) {

                                      var reader = new FileReader();

                                    var rawData = new ArrayBuffer();

                                    reader.loadend = function() {

                                    }

                                    reader.onload = function(e) {

                                        rawData = e.target.result;
                                        chatSocket.binaryType = "blob";

                                         chatSocket.send(JSON.stringify({
                                                'file':{'name':file.name,
                                                        'data':rawData,
                                                        'type':file.type},
                                                 'command':'file_type_data',
                                                'author':'{{ request.user.id }}',
                                                'reciepent': '{{ chatpartner.id }}',
                                            }));
                                        console.log('file sned')
                                        document.getElementById('filename').value= null;

                                    }

                                    reader.readAsDataURL(file);


                                } else {
                                  alert('File size exceeds 2 MB');
                                  window.location.reload()

                                }

                    }




});

</script>

<script>
$(document).ready(function(){
  $("#mysearchInp").on("keyup", function() {
    var value = $(this).val().toLowerCase();

    $("#myTable li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>



{% endblock content %}
