{% extends "layout.html" %}
{% load static %}

{% block link_css %}
<link rel="stylesheet" href="{% static 'custome_CSS/messages_inbox.css' %}">
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
<link rel='stylesheet prefetch'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/locale/af.min.js"></script>-->
<style type="text/css">
    footer
{
    bottom: 0;
    left: 0;
    background: #000;
    padding: 20px 0 10px;
    position: absolute;
    width: 100%;
    z-index: 1;
    border-top: 4px solid #3dbb3d;
}
p.turn-grey.small.footers_link {
    margin-top: 24px;
}

.footers_link a{        padding-bottom: 10px;}
</style>
{% endblock link_css %}
{% block content %}
<div class="container mt-5">
    <div class="row">

      <div class="col-12 col-md-4 col-lg-3">
           <h6 class="font-weight-bold mb-3 text-center text-lg-left font_z20">Chat</h6>
          <input type="text" id="mysearchInp" class="form-control" placeholder="Search by name"  />
            <div class="white z-depth-1  pb-0">
          <ul class="list-unstyled friend-list" id="myTable">
              {% for msg in unread_messages %}
            <li class=" p-1 unread_msg">

              <a href="{% url 'chatroom' msg.message.room.id %}" class="d-flex justify-content-between">
                    {% if  msg.chat_partner.profile_image %}
                  <img src="{{ msg.chat_partner.profile_image.url }}" style="width:100px;height:100px;"  alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% else %}
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"  style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% endif %}
                <div class="text-small">
                  <strong>{% if msg.chat_partner.is_staff %} Yr-Admin{% else %}{{ msg.chat_partner.username|truncatechars:7 }}{% endif %}</strong>
                  <p class="last-message text-muted">{{ msg.message.content|truncatechars:7 }}</p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0">{{ msg.message.date_created |date:"SHORT_DATE_FORMAT"  }}</p>
                  <span class="badge badge-danger float-right"> {{ msg.message.room.created_for }} Chat</span>

                </div>
              </a>
            </li>
            {% endfor %}
              {% for msg in read_messages %}
            <li class=" p-1">
              <a href="{% url 'chatroom' msg.message.room.id %}" class="d-flex justify-content-between">
                    {% if  msg.chat_partner.profile_image %}
                  <img src="{{ msg.chat_partner.profile_image.url }}" style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% else %}
                <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-8.jpg"  style="width:100px;height:100px;" alt="avatar" class="avatar rounded-circle d-flex align-self-center mr-2 z-depth-1">
                  {% endif %}
                <div class="text-small">
                  <strong>{% if msg.chat_partner.is_staff %} Yr-Admin{% else %}{{ msg.chat_partner.username|truncatechars:7 }}{% endif %}</strong>
                  <p class="last-message text-muted">{{ msg.message.content|truncatechars:7 }}</p>
                </div>
                <div class="chat-footer">
                  <p class="text-smaller text-muted mb-0">{{ msg.message.date_created|date:"SHORT_DATE_FORMAT"  }}</p>
                  <span class="badge badge-danger float-right"> {{ msg.message.room.created_for }} Chat</span>
                </div>
              </a>
            </li>
            {% endfor %}


          </ul>
        </div>
      </div>

    <div class="col-12 col-md-8 col-lg-9">
        ￼￼￼￼
        <div id="frame" class="log_iframe">
            <div class="content chat_room_width" >
                <div class="contact-profile">
                    <h1>Logs </h1>
                </div>
              <input type="text" id="myInput" class="form-control" placeholder="Search your log here"  />
            <div class="white z-depth-1  pb-0">
                <div class="messages">

                    <ul id="myList" >
                        {% for notification in notifications %}
                            <li >

                                <p>{{notification.name}}</p>
                                <p>{{notification.payload.body}}</p>
                                {% if notification.payload.url %}
                                <a href="{{notification.payload.url}}"> View </a>
                                {% endif %}
                                <span class="msg_time">{{notification.timestamp}}</span>
                            </li>

                        {% endfor %}


                    </ul>
                </div>
<!--                <div class="message-input">-->
<!--                    <div class="wrap">-->
<!--                        <input type="text" id="chat-message-input" placeholder="Write your message..."/>-->
<!--                        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>-->
<!--                        <button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane"-->
<!--                                                                           aria-hidden="true"></i></button>-->
<!--                    </div>-->
<!--                </div>-->
            </div>

        </div>

    </div>

</div>
</div>




<script>
$(document).ready(function(){
//person chat search
  $("#mysearchInp").on("keyup", function() {
    var value = $(this).val().toLowerCase();

    $("#myTable li p").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

//log Search
$("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    console.log(value)
    $("#myList li").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });

});
</script>



{% endblock content %}
