{% load static check_role check_request favorite_check %}
{% load ratings %}
{% is_provider user_role=request.session.user_role as provider_checked %}
{% is_localite user_role=request.session.user_role as localite_checked %}
{% is_client user_role=request.session.user_role as client_checked %}
 {% if not request.user.is_anonymous %}
{% provider user as pro %}
{% localite user as loc %}
{% provider_request_sent user as provider_request_checked %}
{% localite_request_sent  user as localite_request_checked %}
{% endif %}


<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="uk-card-body pl-0 pr-0">
                <div class="">
                    <div class="profile_listing_outer mt-3">

                        <div class="row">
                            <div class="col-12">
                                <form class="form-inline" method="get" action="{% url 'main:home' %}" id="localite_search_form">{{search_form.country}} <button type="submit" class="btn btn-sm ">filer</button> </form>
                                <h1 class="page_main_header mb-3">{%if request.user.is_authenticated %} Near By{% endif %} Localites</h1>

                                {% if localites %}
                                {% for localite in localites %}
                                <div class="profile_main_outer">
                                    <div class="user_img_details_sec">
                                        <div class="user_profile_rating">
                                            <div class="profile_im">
                                                {% if localite.profile_image %}
                                                <img src="{{ localite.profile_image.url }}">
                                                {% else %}
                                                <img src="{{ avtar}}">
                                                {% endif %}
                                            </div>
                                            <div class="name_rate">
                                                <a href="{% url 'public_profile' localite.id %}"><h5>{{ localite.username|title }}</h5></a>
                                                {% with rate_temp='rating_star/widget.html' %}
                                                <p> {% ratings localite read_only=True template_name=rate_temp %}
                                                    {% endwith %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="price_Book Visit!">
                                            <h5>$ 50 <span>Per Day</span></h5>

                                            {%if request.user.is_authenticated %}
                                            {% is_user_in_fav id=localite.id current_u_id=request.user.id  as user_in_fav_checked %}
                                            {% if  user_in_fav_checked %}
                                            <h5><span>Already in Favorite</span></h5>
                                            {% else %}
                                            <h5><a href="{% url 'add_loc_or_pro_in_favorite' localite.id %}"><span>Add to Favorite</span></a></h5>
                                            {% endif %}
                                            <a href="{% url 'request_appointment' localite.id %}">
                                                <button class="btn theme_btn" type="button">Book Visit</button>
                                            </a>
                                            &nbsp; <a href="{% url 'contact' localite.id %}">
                                            <button class="btn theme_btn" type="button">Contact</button>
                                        </a>
                                            {% else %}
                                            <h5><a href="{% url 'main:add_anon_favorite' 'localite' localite.id %}"><span>Add to Favorite</span></a></h5><a href="{% url 'account_login' %}">
                                            <button class="btn theme_btn" type="button">Book Visit</button>
                                        </a>
                                            &nbsp; <a href="{% url 'account_login'  %}">
                                            <button class="btn theme_btn" type="button">Contact</button>
                                        </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <ul class="about_user_pro">
                                        <li>
                                             {% if localite.distance   %}<span>Distance: </span>{{localite.distance}}{% endif %}
                                             <span>State:</span>{{ localite.state }} - {{ localite.country }}
                                            <div class="div_sp pl-5">
                                                <span>Profession:</span> {% for profession in localite.profession.all %}{{ profession.name }},{%endfor%}
                                            </div>
                                        </li>
                                        <li><span>Bio:</span>{{ localite.bio }}</li>

                                    </ul>
                                </div>
                                {% endfor %}
                                <div class="text-center mt-5">
                                    <a href="{% url 'main:localite_list' %}" class="view_all_link"> View All</a>
                                </div>
                                {% else %}
                                <h3>No Localites Found .</h3>
                                {% endif %}
                            </div>
                            <div class="col-12 mt-5">
                                <h1 class="page_main_header mb-3">{%if request.user.is_authenticated %} Near By{% endif %} Providers</h1>
                                {% if providers %}
                                {% for professional in providers %}
                                <div class="profile_main_outer">
                                    <div class="user_img_details_sec">
                                        <div class="user_profile_rating">
                                            <div class="profile_im">
                                                {% if professional.profile_image %}
                                                <img src="{{ professional.profile_image.url }}">
                                                {% else %}
                                                <img src="{{ avtar}}">
                                                {% endif %}
                                            </div>
                                            <div class="name_rate">
                                                <a href="{% url 'public_profile' professional.id %}"><h5>{{ professional.username|title }}</h5></a>
                                                {% with rate_temp='rating_star/widget.html' %}
                                                <p> {% ratings professional read_only=True template_name=rate_temp %}
                                                    {% endwith %}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="price_hire">

                                            {%if request.user.is_authenticated %}
                                            {% is_user_in_fav id=professional.id current_u_id=request.user.id  as user_in_fav_checked %}
                                            {% if  user_in_fav_checked %}
                                            <h5><span>Already in Favorite</span></h5>
                                            {% else %}
                                            <h5><a href="{% url 'add_loc_or_pro_in_favorite' professional.id %}"><span>Add to Favorite</span></a></h5>
                                            {% endif %}
                                            <a href="{% url 'create_provider_appointments' professional.id %}">
                                                <button class="btn theme_btn" type="button">Book Appointment!</button>
                                            </a>
                                             &nbsp; <a href="{% url 'contact' professional.id %}">
                                            <button class="btn theme_btn" type="button">Contact</button>
                                        </a>

                                                {% else %}
                                                <h5><a href="{% url 'main:add_anon_favorite' 'provider' professional.id %}">Add to Favorite</a></h5>
                                                <a href="{% url 'account_login' %}">
                                            <button class="btn theme_btn" type="button">Book Appointment!</button>
                                                {% endif %}
                                            </a>
                                        </div>
                                    </div>
                                    <ul class="about_user_pro">
                                        <li>
                                            <span>City:</span>{{ professional.state }} - {{ professional.country }}
                                            <div class="div_sp pl-5">
                                                <span>categories:</span> {% for profession in professional.providercategories_set.all %}{{ profession.category }},{%endfor%}
                                            </div>
                                        </li>
                                        <li><span>Bio:</span>{{ professional.bio }}</li>

                                    </ul>
                                </div>
                                {% endfor %}
                                <div class="text-center mt-5">
                                    <a href="{% url 'main:provider_list' %}" class="view_all_link"> View All</a>
                                </div>
                                {% else %}
                                <h3>No Provider Found .</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

        </div>
    </div>
</div>

