{% extends "layout.html" %}
{% block content %}
<div class="content-section container mt-5">
<h1 class="page_main_header my-3"> Update Your  Profile As Localite</h1>
<form class="login profile_form" method="POST" enctype="multipart/form-data">
	<div class="row">
		<div class="col-12 col-md 10 col-lg-6 m-auto">
			{% csrf_token %}
			{{form.as_p}}
<button class="primaryAction" type="submit">Save</button>
		</div>
	</div>

</form>
</div>
<script>
$(function(){

  $("#id_phone_number").prop("type", "tel");

});

</script>
{% endblock %}