{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="uk-card-body pl-0 pr-0">
                <div class="">
                    <div class="profile_listing_outer mt-3">
                    <h1 class="page_main_header mb-3">FAQs FOR LOCALITES AND PROVIDER</h1>
                        Becoming part of a new team is a commitment, and we want you to feel confident that we value your time and efforts. If we haven’t answered all your questions
                    </div>
                    <p>- What is language verification?</p>
                    When you are talking to someone who speaks another language other than their mother tongue, it is easy
                    to assume that they can understand everything you say and talk normally with you. What we’ve found in
                    our travels and along our own language learning journey is that there is a wide gap between being able
                    to speak a language and being fluent in it. There are also regional differences that sometimes make a
                    language challenging to understand, even for speakers of the same language. Overall, language is
                    complex and we believe travel shouldn’t be (especially the ‘being able to be understood’ part). 
                    <p>- Why do I have to verify my language?</p>
                    We believe that a huge part of connecting world travelers with our Localites  means creating
                    confidence that they can speak the world travelers’ language fluently and understand them completely
                    - that's it really.
                    <p>- Do I have to verify my native language as well?</p>
                    Yes, and here’s why...you know it’s your native language, but we don’t - although once you verify
                    all your languages, you’ll never have to do it again.
                    <p>- How do you decide my language proficiency level? Who decides?</p>
                    We created a 3-step process that involves working with a language professional (they tutor & teach
                    that language). First, they review a short speaking video you provide, and then they have a video
                    chat with you to further clarify your proficiency. If you are approved, they will have either rated
                    you as a fluent or native level speaker of your chosen language.
                    <p>- Is the verification only for my speaking/listening or do I have to verify my reading and writing level as well?</p>
                    Our verification process is only for speaking and listening proficiency. We expect our Localites to
                    be able to be a verbal ‘guide’ for world travelers needing to get around a city. We realize there may
                    be times when translation extends to written elements (i.e. a government appointment where a document
                    is required) but our Localite’s responsibilities are more as a reference than doing any in-depth work
                    (e.g. if legal services are required, a Localite can connect travelers with a lawyer and serve as a
                    translator, or translate between a government employee and the traveler).
                    For our Providers, we expect that they are able to have speaking and verbal proficiency during
                    consultations so our customers can feel comfortable that they are being understood and are able to
                    understand.
                    <p>- Is the verification process free or will I have to pay something?</p>
                    Yes it's free and  all you have to do is show up  and on-time. That being said, we also take our
                    money, and our Verification Team’s time seriously, so ‘no-shows’ will not be tolerated.
                    <p>- What if I don’t get approved as fluent or native?</p>
                    Unfortunately, then we can’t move you forward as a Localite or a Provider on our platform, but we
                    are in it to build community, so you can always reapply to join us - you just have to wait six months.
                    Also, if you think you were not fairly reviewed by our verification team, you can file a dispute and
                    we will connect you with another member.
                    <p>- When can I reapply if I’m not approved?</p>
                    You can reapply every 6 months, although we recommend you take more time if needed, and reachout to
                    us if you are interested in connecting with conversational resources.
                    <p>- How long will the process take?</p>
                    Ideally, 2 weeks max. We’re just starting out, and eager to do the best we can, but it may be a bit
                    messy at first. We value your input/ feedback and suggestions, so shoot us an email at info@yrlang.com.
                    <p>- Can my language certification/ credential be a replacement for the verification process?</p>
                    Nope, sorry. We value every provider on our platform and all of our future visitors, so we will keep
                    to our process to ensure everyone can feel confident when they book a Localite or a Provider.
                    <p>- If I speak more than 2 languages fluently, do I have to verify each language separately?</p>
                    Yes, every language is different and to ensure we connect you with the right Verification Team
                    member(s) we need to look at every language you speak separately.
                    <p>- Where do I complete the verification process? Is everything online or in-person?</p>
                    Everything is online, because that just makes more sense (and it’s a lot easier for everyone), and
                    you will be able to complete the entire process through your dashboard
                    (and you will have a IM guide the whole way).
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}